<footer class="footer"> <!-- footer -->
  <div class="container">
    <div class="row">
      <div class="col-md-4"><!-- footer site details -->
        <div class="foot-left">
          <h5 class="foot-head-text">about us</h5><!-- footer-head-tag -->
          <img src="imgs/footer-logo.png" alt="//"/>
          <p>
            Nunc dictum est vel risus luctus eu venenatis dsapiending. Morbi mattis urna et felisNunc dictum est vel
            risus luctus eu venenatis sapien adipiscing. Morbi mattis urna et felisNunc dictum
          </p>
          <button class="btn foot-btns">read more</button>
        </div>
      </div>

      <div class="col-md-4"><!-- footer recent post -->
        <div class="clearfix"></div>
        <div class="foot-posts">
          <h5 class="foot-head-text">recent posts</h5><!-- footer-head-tag -->
          <div class="recent-posts"><!-- block 1 -->
            <div class="row">
              <div class="col-md-3 col-xs-2"><!-- post image -->
                <div class="recent-img-or">
                  <div class="recent-img">
                    <a href="single-blog.html">
                      <img src="http://placehold.it/70x70" alt="//"/>
                    </a>
                  </div>
                  <a href="single-blog.html">
                    <div class="figcaption">
                      <i class="fa fa-video-camera fa-lg"></i>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-9  col-xs-10"><!-- post details -->
                <div class="recent-post-text">
                  <a href="single-blog.html">
                    <span class="recent-text-head">Nullam id dolor id nibhDonec sed odio dui</span>
                  </a>
                  <a href="single-blog.html">
                    <span class="recent-text-comment">3comment</span>
                  </a>
                  <button class="btn foot-btns pull-right">read more</button>
                </div>
              </div>
            </div>
          </div>

          <div class="recent-posts"><!-- block 2 -->
            <div class="row">
              <div class="col-md-3 col-xs-2"><!-- post image -->
                <div class="recent-img-or">
                  <div class="recent-img">
                    <a href="single-blog.html">
                      <img src="http://placehold.it/70x70" alt="//"/>
                    </a>
                  </div>
                  <a href="single-blog.html">
                    <div class="figcaption">
                      <i class="fa fa-video-camera fa-lg"></i>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-9 col-xs-10"><!-- post details -->
                <div class="recent-post-text">
                  <a href="single-blog.html">
                    <span class="recent-text-head">Nullam id dolor id nibhDonec sed odio dui</span>
                  </a>
                  <a href="single-blog.html">
                    <span class="recent-text-comment">3comment</span>
                  </a>
                  <button class="btn foot-btns pull-right">read more</button>
                </div>
              </div>
            </div>
          </div>

          <div class="recent-posts"><!-- block 3 -->
            <div class="row">
              <div class="col-md-3 col-xs-2"><!-- post image -->
                <div class="recent-img-or">
                  <div class="recent-img">
                    <a href="single-blog.html">
                      <img src="http://placehold.it/70x70" alt="//"/>
                    </a>
                  </div>
                  <a href="single-blog.html">
                    <div class="figcaption">
                      <i class="fa fa-video-camera fa-lg"></i>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-9 col-xs-10"><!-- post details -->
                <div class="recent-post-text">
                  <a href="single-blog.html">
                    <span class="recent-text-head">Nullam id dolor id nibhDonec sed odio dui</span>
                  </a>
                  <a href="single-blog.html">
                    <span class="recent-text-comment">3comment</span>
                  </a>
                  <button class="btn foot-btns pull-right">read more</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4"><!-- flickr stream -->
        <div class="clearfix"></div>
        <div class="flickr">
          <h5 class="foot-head-text">flickr stream</h5><!-- footer-head-tag -->
          <ul id="basicuse" class="thumbs"></ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="foot-bar">
  <div class="container">
    <div class="row">
      <div class="foot-bar-m">
        <div class="col-sm-6">
          <div class="theme-rights">
				          <span>
						      Copyrights © 2012 & All Rights Reserved by Lion Codes.
						 </span>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="text-right">
				          <span class="foot-bar-link">
				              <a href="#">Privacy Policy</a>/
					          <a href="#">Terms of Service</a>/
					          <a href="#">FAQs</a>
					      </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
