<header class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="icons-bar">
          <li>
            <a class="icons-link" data-toggle="modal" data-target="#modal-1" href="#">
              <i class="fa fa-user fa-lg"></i>
            </a>
            <div class="modal-sign modal" id="modal-1" tabindex="-1" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="sign-tabs">
                      <ul class="nav-sign">
                        <li class="active sign-in-bar">
                          <a href="#section-3" data-toggle="tab"><span>sign in</span></a>
                        </li>
                        <li class="sign-up-bar">
                          <a href="#section-4" data-toggle="tab"><span>sign up</span></a>
                        </li>
                      </ul>
                      <div class="tab-content">
                        <div class="sign-in-form tab-pane fade in active" id="section-3"> <!-- tab section-1 -->
                          <%= form_for(@resource, as: resource_name, url: session_path(resource_name), html: {role: 'form', class: 'sign-place'}) do |f| %>
                            <!-- sign -->
                            <span class="text-capitalize sign-title">
                              hello world, you can sign in by your e-mail here
                            </span>
                            <%= f.email_field :email, autofocus: true, class: "text-capitalize forms form-sign input-lg", placeholder: "user name" %>
                            <%= f.password_field :password, autocomplete: "off", class: "text-capitalize forms form-sign input-lg", placeholder: "password" %>
                            <input type="submit" value="sign in" class="btn btn-sign-forms" />
                          <% end %>
                          <a class="under-line-a" href="#">
                            <span class="text-capitalize alert-title">
                               forget password?
                            </span>
                          </a>
                        </div>
                        <div class="sign-up-form tab-pane fade" id="section-4"> <!-- tab section-2 -->
                          <form role="form" class="sign-place"><!-- sign -->
													      <span class="text-capitalize sign-title">
													          hello world, you can sign up by your e-mail here
													      </span>
                            <input type="text" class="text-capitalize forms form-sign input-lg" placeholder="user name">
                            <input type="text" class="text-capitalize forms form-sign input-lg" placeholder="e-mail">
                            <button type="button" class="btn btn-sign-forms">sign up</button>
                          </form>
                          <a class="under-line-a" href="#">
													      <span class="text-capitalize alert-title">
													          will send to you password via e-mail?
													      </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <span class="top-lines">|</span>
          </li>
          <li>
            <a class="icons-link" data-toggle="modal" data-target="#modal-2" href="#">
              <i class="fa fa-search fa-lg"></i>
            </a>
            <div class="modal-search modal" id="modal-2" tabindex="-1" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <form role="form" class="sign-place"><!-- sign -->
                      <div class="search-modal-form">
                        <input type="text" class="text-capitalize forms form-sign input-lg" placeholder="search......">
                        <a href="#"><i class="fa fa-search fa-lg"></i></a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <span class="top-lines">|</span>
          </li>
          <li>
            <a class="icons-link" href="#">
              <i class="fa fa-share-square fa-lg"></i>
            </a>
          </li>
          <li>
            <span class="top-lines">|</span>
          </li>
          <li>
            <a class="icons-link" href="#">
              <i class="fa fa-envelope fa-lg"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <div class="time-zone">
          <i class="fa fa-sun-o fa-lg"></i>
          <span class="text-top">FRIDAY 12/10/2013</span>
          <span class="text-top">|</span>
          <span class="text-top">12:00 AM</span>
        </div>
      </div>
    </div>
  </div>
</header>
