<div class="latest-cast"> <!-- latest cast-->
  <div class="container">
    <div class="row">
      <div class="col-md-12 hidden-xs">
        <div class="latest-cast-default">
          <div class="row">
            <div class="col-md-2 col-sm-2"><!-- cast drop down -->
              <div class="left-cast dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-chevron-circle-down fa-lg"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">all news</a></li>
                  <!-- item -->
                  <li class="divider"></li>
                  <li><a href="#">movies news</a></li>
                  <!-- item -->
                  <li class="divider"></li>
                  <li><a href="#">music news</a></li>
                  <!-- item -->
                  <li class="divider"></li>
                  <li><a href="#">gmaes news</a></li>
                  <!-- item -->
                  <li class="divider"></li>
                  <li><a href="#">shop news</a></li>
                  <!-- item -->
                </ul>
                <div class="text-cast">
                  <span class="text-1">news</span>
                  <span class="text-2">movies</span>
                </div>
              </div>
            </div>

            <div class="col-md-10 col-sm-10"><!-- cast slider -->
              <div class="cast-slider carousel slide" data-ride="carousel" id="carousel-latest-cast">
                <div class="next-prev">
                  <div class="prev">
                    <a href="#carousel-latest-cast" data-slide="prev">
                      <i class="fa fa-angle-left fa-lg"></i>
                    </a>
                  </div>
                  <div class="next">
                    <a href="#carousel-latest-cast" data-slide="next">
                      <i class="fa fa-angle-right fa-lg"></i>
                    </a>
                  </div>
                </div>
                <ul class="slider-texts carousel-inner">
                  <li class="item active"><!-- item -->
                    <a href="#">
											  <span class="span-up">
											      We Provide Full suport and Full Help to our customers
											  </span>
                    </a>
										  <span class="span-under">
											  Sub title text line to describe your important message here
										  </span>
                  </li>
                  <li class="item"><!-- item -->
                    <a href="#">
											  <span class="span-up">
											      We Provide Full suport and Full Help to our customers demo
											  </span>
                    </a>
										  <span class="span-under">
											  Sub title text line to describe your important message here
										  </span>
                  </li>
                  <li class="item"><!-- item -->
                    <a href="#">
											  <span class="span-up">
											      We Provide Full suport and Full Help to our customers demo
											  </span>
                    </a>
										  <span class="span-under">
											  Sub title text line to describe your important message here
										  </span>
                  </li>
                </ul>
                <div class="cast-read-more">
                  <a href="#"><i class="fa fa-chevron-circle-right fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
