<!-- user panel - shopping cart - cart-slider -->
<div class="bar-mid">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-3 col-xs-sp">
        <!-- user-panel -->
        <% if user_signed_in? %>
          <div class="user-panel">
            <div class="user-panel-img">
              <img src="http://placehold.it/38x38" alt="//"/>
            </div>
            <span class="user-tag">3</span>
            <span class="name-user"><%= current_user.name %></span>
            <div class="dropdown down-user-panel">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-angle-down fa-lg"></i>
              </a>
              <ul class="dropdown-menu user-panel-down" role="menu">
                <!-- drop down -->
                <li class="caret-p">
                  <div class="caret-3"></div>
                </li>
                <li>
                  <!-- item -->
                  <div class="user-panel-details">
                    <i class="fa fa-user fa-lg"></i>
                    <a href="#"><span>Your Profile</span></a>
                  </div>
                  <div class="user-panel-tags">
                    <span>5</span>
                  </div>
                </li>
                <li class="background-dif">
                  <!-- item -->
                  <div class="user-panel-details">
                    <i class="fa fa-star fa-lg"></i>
                    <a href="#"><span>Favourites</span></a>
                  </div>
                  <div class="user-panel-tags">
                    <span>10</span>
                  </div>
                </li>
                <li>
                  <!-- item -->
                  <div class="user-panel-details">
                    <i class="fa fa-wrench fa-lg"></i>
                    <a href="#"><span>Settings</span></a>
                  </div>
                </li>
                <li>
                  <!-- item -->
                  <div class="user-panel-details">
                    <i class="fa fa-sign-out fa-lg"></i>
                    <a href="#"><span>Logout</span></a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-1 col-md-offset-1 col-sm-offset-1 col-sm-1 col-xs-sp"><!-- shopping cart -->
        <div class="shopping-cart">
          <span>4</span>
          <a href="#"> <i class="fa fa-shopping-cart fa-lg"></i></a>
        </div>
      </div>
      <div class="col-md-7 col-sm-7 hidden-xs"><!-- shop slider -->
        <div class="right-bar-content">
          <div class="dropdown left-bar-right"> <!-- drop down shop slider -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-angle-down fa-lg i-2"></i></a>
            <ul id="scroll" class="dropdown-menu" role="menu">
              <li class="caret-p">
                <div class="caret-2"></div>
              </li>
              <li><!-- item -->
                <div class="img-shop-nav">
                  <a href="#"><img src="http://placehold.it/50x50" alt="//"></a>
                </div>
                <div class="right-nav-down">
                  <a href="#">
                    <span class="span-1">ALBUM NAME (SOUND TRACK)</span>
                  </a>
                  <span class="span-2">€ 50,20</span>
                  <a href="#"><i class="fa fa-close fa-lg"></i></a>
                </div>
              </li>

              <li class="background-list"><!-- item -->
                <div class="clearfix"></div>
                <div class="img-shop-nav">
                  <a href="#"><img src="http://placehold.it/50x50" alt="//"></a>
                </div>
                <div class="right-nav-down">
                  <a href="#">
                    <span class="span-1">ALBUM NAME (SOUND TRACK)</span>
                  </a>
                  <span class="span-2">€ 50,20</span>
                  <a href="#"><i class="fa fa-close fa-lg"></i></a>
                </div>
              </li>

              <li><!-- item -->
                <div class="clearfix"></div>
                <div class="img-shop-nav">
                  <a href="#"><img src="http://placehold.it/50x50" alt="//"></a>
                </div>
                <div class="right-nav-down">
                  <a href="#">
                    <span class="span-1">ALBUM NAME (SOUND TRACK)</span>
                  </a>
                  <span class="span-2">€ 50,20</span>
                  <a href="#"><i class="fa fa-close fa-lg"></i></a>
                </div>
              </li>

              <li class="background-list"><!-- item -->
                <div class="clearfix"></div>
                <div class="img-shop-nav">
                  <a href="#"><img src="http://placehold.it/50x50" alt="//"></a>
                </div>
                <div class="right-nav-down">
                  <a href="#">
                    <span class="span-1">ALBUM NAME (SOUND TRACK)</span>
                  </a>
                  <span class="span-2">€ 50,20</span>
                  <a href="#"><i class="fa fa-close fa-lg"></i></a>
                </div>
              </li>

              <li><!-- item -->
                <div class="img-shop-nav">
                  <a href="#"><img src="http://placehold.it/50x50" alt="//"></a>
                </div>
                <div class="right-nav-down">
                  <a href="#">
                    <span class="span-1">ALBUM NAME (SOUND TRACK)</span>
                  </a>
                  <span class="span-2">€ 50,20</span>
                  <a href="#"><i class="fa fa-close fa-lg"></i></a>
                </div>
              </li>

              <li class="background-list"><!-- item -->
                <div class="clearfix"></div>
                <div class="img-shop-nav">
                  <a href="#"><img src="http://placehold.it/50x50" alt="//"></a>
                </div>
                <div class="right-nav-down">
                  <a href="#">
                    <span class="span-1">ALBUM NAME (SOUND TRACK)</span>
                  </a>
                  <span class="span-2">€ 50,20</span>
                  <a href="#"><i class="fa fa-close fa-lg"></i></a>
                </div>
              </li>

              <li><!-- item -->
                <div class="clearfix"></div>
                <div class="img-shop-nav">
                  <a href="#"><img src="http://placehold.it/50x50" alt="//"></a>
                </div>
                <div class="right-nav-down">
                  <a href="#">
                    <span class="span-1">ALBUM NAME (SOUND TRACK)</span>
                  </a>
                  <span class="span-2">€ 50,20</span>
                  <a href="#"><i class="fa fa-close fa-lg"></i></a>
                </div>
              </li>

              <li class="background-list"><!-- item -->
                <div class="end-list">
                  <span>4 selected product</span>
                  <span>€ 522,9</span>
                  <button class="btn btn-nav-list">Check Out</button>
                  <button class="btn btn-nav-list">Buy Now</button>
                </div>
              </li>
            </ul>
          </div>
          <div class="cast-container carousel slide" data-ride="carousel" id="carousel-shop-slider"><!-- shop slider -->
            <div class="arrows-next-prev">
              <a href="#carousel-shop-slider" data-slide="prev">
                <i class="fa fa-angle-left fa-lg"></i></a>
              <a href="#carousel-shop-slider" data-slide="next">
                <i class="fa fa-angle-right fa-lg right-arrow-s"></i></a>
            </div>
            <ul class="carousel-inner">
              <li class="item active"><!-- item -->
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit adipiscing eli</span>
              </li>
              <li class="item">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit adipiscing eli</span>
              </li>
              <!-- item -->
              <li class="item">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit adipiscing eli</span>
              </li>
              <li class="item"><!-- item -->
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit adipiscing eli</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
