<nav class="navbar navbar-default" role="navigation"> <!-- Nav Bar -->
  <div class="container">
    <div class="row">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="" href="index.html"><%= image_tag "logo.png", class:"navbar-brand", alt: "//" %></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">home<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <div class="caret-1"></div>
              </li>
              <li><a href="index.html">home</a></li>
              <li class="divider"></li>
              <li><a href="home2.html">home 2</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">pages<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <div class="caret-1"></div>
              </li>
              <li><a href="movies.html">movies</a></li>
              <li class="divider"></li>
              <li><a href="music.html">music</a></li>
              <li class="divider"></li>
              <li><a href="games.html">games</a></li>
              <li class="divider"></li>
              <li><a href="tech.html">tech</a></li>
              <li class="divider"></li>
              <li><a href="gallery.html">gallery</a></li>
            </ul>
          </li>
          <li><a href="shop.html">shop</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">PRODUCTS<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <div class="caret-1"></div>
              </li>
              <li><a href="grid-view-product.html">GRID VIEW</a></li>
              <li class="divider"></li>
              <li><a href="list-view-product.html">LIST VIEW</a></li>
              <li class="divider"></li>
              <li><a href="single-product.html">SINGLE PRODUCTS</a></li>
              <li class="divider"></li>
              <li><a href="cart-check-out.html">CART CHECKOUT</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">BLOG<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <div class="caret-1"></div>
              </li>
              <li><a href="list-view-blog.html">LIST VIEW</a></li>
              <li class="divider"></li>
              <li><a href="grid-view-blog.html">GRID VIEW</a></li>
              <li class="divider"></li>
              <li><a href="single-blog.html">SINGLE BLOG</a></li>
              <li class="divider"></li>
              <li><a href="404.html">404 PAGE</a></li>
            </ul>
          </li>
          <li><a href="contact.html">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
